 
edu/stanford/nlp/models/lexparser/englishRNN.ser.gz 
edu/stanford/nlp/models/lexparser/wsjRNN.ser.gz 
edu/stanford/nlp/models/pos-tagger/german/german-ud.tagger 
edu/stanford/nlp/models/parser/nndep/UD_French.gz 
edu/stanford/nlp/models/parser/nndep/UD_Spanish.gz 
stanford-parser-3.9.2-models.jar 
